{% extends "layout.html" %}

<!-- functions -->
{% macro render_categories(categories) %}
    {% for category in categories %}
        <li>
            <a href="{{ url_for('category_items', category_id=category.id) }}">
                {{ category.name }}
            </a>
        </li>
    {% endfor %}
{% endmacro %}

{% macro render_items(items) %}
    {% for item in items %}
        <li>
            <a href="{{ url_for('category_item', category_id=category.id, item_id=item.id) }}">
                {{ item.name }}
            </a>
        </li>
    {% endfor %}
{% endmacro %}

{% block flash %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
           {{message}}<br>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endblock %}

{% block content %}
                <section id="categories">
                    <header>
                        <h2>Categories</h2>
                    </header>
                    <ul>
                        {{ render_categories(categories) }}
                    </ul>
                </section>
                <section id="items">
                    <header>
                        <h2>{{ category.name }} Items ({{ items_num }} items)</h2>
                    </header>
                    <ul>
                        {{ render_items(items) }}
                    </ul>
                </section>
{% endblock %}