{% extends "layout.html" %}

 <!-- functions -->
{% macro render_options(categories, category_id) %}
    {% for category in categories %}
        {% if category.id == category_id %}
            <option value="{{category.id}}" selected>{{ category.name }}</option>
        {% else %}
            <option value="{{category.id}}">{{ category.name }}</option>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% block content %}
    <section>
        <header>
            <h2>Delete {{ item.name }}</h2>
        </header>
        <p>
            Are you sure about deleting this item?
        </p>
        <form method="post">
        <input type="submit" value="Delete">
        </form>
    </section>
{% endblock %}
