{% extends "layout.html" %}

 <!-- functions -->
{% macro render_options(categories, category_id) %}
    {% for category in categories %}
        {% if category.id == category_id %}
            <option value="{{category.id}}" selected>{{ category.name }}</option>
        {% else %}
            <option value="{{category.id}}">{{ category.name }}</option>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% block content %}
    <section>
        <header>
            <h2>Edit {{ item.name }}</h2>
        </header>
        <form method="post">
            Item name: <input type="text" name="item_name" value="{{item.name}}" required><br>
            Item description: <input type="text" name="item_description" value="{{item.description}}" required><br>
            Category: <select name="category">
            {{ render_options(categories) }}
        </select><br>
        <input type="submit" value="Edit Item">
        </form>
    </section>
{% endblock %}
