{% extends "layout.html" %}

<!-- functions -->
{% macro render_categories(categories) %}
    {% for category in categories %}
        <li>
            <a href="{{ url_for('category_items', category_id=category.id) }}">
                {{ category.name }}
            </a>
        </li>
    {% endfor %}
{% endmacro %}

{% macro render_latest_items(items) %}
    {% for item in items %}
        <li>
            <a href="{{ url_for('category_item', category_id=item['category_id'], item_id=item['id']) }}">
                {{ item['name'] }} ({{ item['category_name'] }})
            </a>
        </li>
    {% endfor %}
{% endmacro %}

<!-- content -->
{% block content %}
    <section>
        <header>
            <h2>Categories</h2>
        </header>
        <ul>
            {{ render_categories(categories) }}
        </ul>
    </section>
    <section>
        <p>
            {% if session['user_id'] %}
                <a href="{{ url_for('add_item') }}">Add item</a>
            {% endif %}
        </p>
        <header>
            <h2>Latest Items</h2>
        </header>
        <ul>
            {{ render_latest_items(items) }}
        </ul>
    </section>
{% endblock %}
