<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item Catalog</title>
</head>
<body>

    <h3>Welcome, {{email}}</h3>
    <img src="{{picture}}" style = "width: 100px; height: 100px;border-radius: 50px;-webkit-border-radius: 50px;-moz-border-radius: 50px;">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
               {{message}}<br>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>