{% extends "layout.html" %}

 <!-- functions -->
{% macro render_options(categories) %}
    {% for category in categories %}
        <option value="{{category.id}}">{{ category.name }}</option>
    {% endfor %}
{% endmacro %}

{% block content %}
    <section>
        <header>
            <h2>Add new item</h2>
        </header>
        <form method="post">
            Item name: <input type="text" name="item_name" required><br>
            Item description: <input type="text" name="item_description" required><br>
            Category: <select name="category">
            {{ render_options(categories) }}
        </select><br>
        <input type="submit" value="Add Item">
        </form>
    </section>
{% endblock %}
